In [4]:
import numpy as np

In [5]:
import pandas as pd

In [6]:
''' dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini delle persone,
 e della zona in cui vivono, rispetto ai costi individuali per le cure mediche come premio per 
 le assicurazioni sulla salute.
Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna'''

" dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini delle persone,\n e della zona in cui vivono, rispetto ai costi individuali per le cure mediche come premio per \n le assicurazioni sulla salute.\nVisualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna"

In [7]:
path="C:/Users/Alessio Mangiagi/Desktop/python_conn/beginner_datasets/insurance.csv"

In [8]:
dfi=pd.read_csv(path)

In [9]:
dfi

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [10]:
dfi.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [11]:
dfi.sample(5)

      age     sex     bmi  children smoker     region      charges
216    53  female  26.600         0     no  northwest  10355.64100
623    18    male  33.535         0    yes  northeast  34617.84065
1321   62    male  26.695         0    yes  northeast  28101.33305
1085   39  female  18.300         5    yes  southwest  19023.26000
543    54  female  47.410         0    yes  southeast  63770.42801

In [12]:
dfi.info

<bound method DataFrame.info of       age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]>

In [13]:
dfi.groupby("region")["charges"].mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [14]:
dfi.groupby("smoker")["charges"].mean()

smoker
no      8434.268298
yes    32050.231832
Name: charges, dtype: float64

In [15]:
dfi.groupby("sex")["charges"].mean()

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [16]:
dfi["bmi"].describe()

count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [17]:
dfi.groupby(pd.qcut(dfi["bmi"],4))["charges"].agg(["min", "mean", "max"])

C:\Users\Alessio Mangiagi\AppData\Local\Temp\ipykernel_13184\617405786.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  dfi.groupby(pd.qcut(dfi["bmi"],4))["charges"].agg(["min", "mean", "max"])

                                    min          mean          max
bmi
(15.959000000000001, 26.296]  1121.8739  10360.662825  38245.59327
(26.296, 30.4]                1131.5066  11407.831468  62592.87309
(30.4, 34.694]                1135.9407  14358.173081  60021.39897
(34.694, 53.13]               1141.4451  16987.936691  63770.42801